
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:#333;
    background-color:white;
    background-image: url('SDD-General.png');
    background-size:cover;
    overflow:hidden;
   /* animation: animatedBackground 360s linear infinite;*/
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	30% {background-position: 0 50%;}
	50% {background-position: 50% 100%;
	     background-size: auto 300%;}
	to { background-position:  0 0; 
	        background-size: auto 200%; }
}

.bigtext {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.bigtext > div {
    line-height: 0.95em;
}

                    
p {
    padding: 10px;
}
  
  a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


.skydiveclock {
    width: 99%;
    min-width: 300px;
    max-width: 4000px;
	min-height: 200px;
	max-height: 4000px;
    margin: 0 auto;
}



.svg-container { 

display: inline-block;
position: relative;
height: 100%;
max-height:100%;
padding-right: 100%; 
vertical-align: middle; 
overflow: hidden; 

}




.timer {
    border-radius: 10px;
    border: 0px ;
    margin-left: auto;
	margin-right: auto;
	width:100%;
	/*-webkit-text-stroke: 1px black;*/
    /*text-shadow: 1px 1px 0 #000,-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
	
}

.col2 
{
    border-radius: 10px;
    border: 5px ;
    border-color:transparent;
    margin-left: auto;
	margin-right: auto;
	float:right;
	width:57%;	
	background-color:#222222;
	color:#fefefe;
	padding-left: 10px;
    
	
	
	
}



.col3 
{
    border: 5px ;
    border-color:transparent;
    
    border-radius: 10px;
    border: 0px ;
    margin-left: auto;
	margin-right: auto;
	float:left;
	width:99%;
	background-color:#222222;
	color:#fefefe;
	
	
}

.col4 
{
    border: 5px ;
    border-color:transparent;
    border-radius: 10px;
    border: 0px ;
    margin-left: auto;
	margin-right: auto;
	float:left;
	
	width:39%;
	background-color:#222222;
	color:#fefefe;
	
}

.timerTitle4p {
	height:3%;
	text-align: center;
    margin-left: auto;
	margin-right: auto;
	margin: 5px;
	font-size: 20px;
	font-size: 3vh;
	vertical-align:middle;
	width:100%;
}

.timerText4p {
    height:11.5%;
	text-align: center;
    margin-left: auto;
	margin-right: auto;
	margin: 5px;
	font-size: 48px;
	font-size: 18vmin;
	vertical-align:top;
	width:100%;
	

}
.timerSlots4p {
    height:2%;
	text-align: left;
    margin-left: auto;
	margin-right: auto;
	margin-top:auto;
	margin-bottom:auto;
	vertical-align:middle;
	width:100%;
	margin: 5px;
	font-size: 36px;
	font-size: 1.5vh;
	
}

.timerTitle4l {
	height:3%;
	text-align: center;
    margin-left: auto;
	margin-right: auto;
	margin: 5px;
	font-size: 20px;
	font-size: 3vh;
	vertical-align:middle;
	width:100%;
}

.timerText4l {
    height:11.5%;
	text-align: center;
    margin-left: auto;
	margin-right: auto;
	margin: 5px;
	font-size: 48px;
	font-size: 11vmin;
	vertical-align:top;
	width:100%;
	

}
.timerSlots4l {
    height:2%;
	text-align: left;
    margin-left: auto;
	margin-right: auto;
	margin-top:auto;
	margin-bottom:auto;
	vertical-align:middle;
	width:100%;
	margin: 5px;
	font-size: 36px;
	font-size: 1.5vh;
	
}

.timerTitle3p {
    height:5%;
	text-align: center;
    margin-left: auto;
	margin-right: auto;
	margin: 5px;
	font-size: 24px;
	font-size: 4.5vh;	
	vertical-align:middle;
	width:100%;

}

.timerText3p {
    height:15%;
	text-align: center;
    margin-left: auto;
	margin-right: auto;
	margin: 5px;
	font-size: 60px;
	font-size: 25vmin;
	vertical-align:top;
	width:100%;
}

.timerSlots3p {
    height:2.5%;
	text-align: left;
    margin-left: auto;
	margin-right: auto;
	margin-top:auto;
	margin-bottom:auto;
	vertical-align:middle;
	width:100%;
	margin: 5px;
	font-size: 36px;
	font-size: 2vh;
	
}

.timerTitle3l {
    height:5%;
	text-align: center;
    margin-left: auto;
	margin-right: auto;
	margin: 5px;
	font-size: 24px;
	font-size: 4.5vh;	
	vertical-align:middle;
	width:100%;

}

.timerText3l {
    height:15%;
	text-align: center;
    margin-left: auto;
	margin-right: auto;
	margin: 5px;
	font-size: 60px;
	font-size: 15vmin;
	vertical-align:top;
	width:100%;
}

.timerSlots3l {
    height:2.5%;
	text-align: left;
    margin-left: auto;
	margin-right: auto;
	margin-top:auto;
	margin-bottom:auto;
	vertical-align:middle;
	width:100%;
	margin: 5px;
	font-size: 36px;
	font-size: 2vh;
	
}

.timerTitle2p {
    height:9%;
	text-align: center;
    margin-left: auto;
	margin-right: auto;
	margin: 5px;
	font-size: 36px;
	font-size: 6.0vh;
	vertical-align:middle;
	width:100%;
	
}

.timerText2p {
    height:21%;
	text-align: center;
    margin-left: auto;
	margin-right: auto;
	margin: 5px;
	font-size: 72px;
	font-size: 30vmin;
	vertical-align:top;
	width:100%;
	
	
}

.timerSlots2p {
    height:4%;
	text-align: left;
    margin-left: auto;
	margin-right: auto;
	margin-top:auto;
	margin-bottom:auto;
	vertical-align:middle;
	width:100%;
	margin: 5px;
	font-size: 36px;
	font-size: 3vh;
	
}

.timerTitle2l {
    height:9%;
	text-align: center;
    margin-left: auto;
	margin-right: auto;
	margin: 5px;
	font-size: 36px;
	font-size: 7vh;
	vertical-align:middle;
	width:100%;
	
}

.timerText2l {
    height:21%;
	text-align: center;
    margin-left: auto;
	margin-right: auto;
	margin: 5px;
	font-size: 72px;
	font-size: 20vmin;
	vertical-align:top;
	width:100%;
	
	
}

.timerSlots2l {
    height:4%;
	text-align: left;
    margin-left: auto;
	margin-right: auto;
	margin-top:auto;
	margin-bottom:auto;
	vertical-align:middle;
	width:100%;
	margin: 5px;
	font-size: 36px;
	font-size: 3vh;
	
}


.timerTitle1p 
{
    height:12%;
	text-align: center;
    margin-left: auto;
	margin-right: auto;
	margin-top:auto;
	margin-bottom:auto;
	vertical-align:middle;
	width:100%;
	margin: 5px;
	font-size: 36px;
	font-size: 6.6vh;
	
}

.timerText1p
{
    height:52%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
    vertical-align: middle;
	margin: 5px;
	width:100%;
	font-size: 72px;
	font-size: 30vmin;
}

.timerSlots1p 
{
    height:6%;
	text-align: left;
    margin-left: auto;
	margin-right: auto;
	margin-top:auto;
	margin-bottom:auto;
	vertical-align:middle;
	width:100%;
	margin: 5px;
	font-size: 36px;
	font-size: 4vh;
	
}

.timerTitle1l 
{
    height:12%;
	text-align: center;
    margin-left: auto;
	margin-right: auto;
	margin-top:auto;
	margin-bottom:auto;
	vertical-align:middle;
	width:100%;
	margin: 5px;
	font-size: 36px;
	font-size: 10vh;
	
}

.timerText1l
{
    height:52%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
    vertical-align: middle;
	margin: 5px;
	width:100%;
	font-size: 72px;
	font-size: 20vmax;
}

.timerSlots1l 
{
    height:6%;
	text-align: left;
    margin-left: auto;
	margin-right: auto;
	margin-top:auto;
	margin-bottom:auto;
	vertical-align:middle;
	width:100%;
	margin: 5px;
	font-size: 36px;
	font-size: 4vh;
	
}


.weatherSection {
    height:20%;
    max-height:20%;
    text-align: center;
    margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 2px;
	vertical-align:baseline;
	padding: 0 5 0 5;
	
}

.bubble
{
    border-radius:1px;
    
    }
    
.watermark{
    background-image: url(logo.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 25%;
	
}



.watermark0
{
    background-image: url(logo.png);
	background-repeat: no-repeat;
    background-position: center bottom;
	background-size: contain;
	
}






.weatherTitle {
	text-align: center;
    font-size: 12px;
	font-size: 2.4vh;
	margin: 2px auto 2px auto;
	padding: 2px auto 2px auto;
	width:99%;
	
}

.compassHeading {
	text-align: center;
    font-size: 12px;
	font-size: 2.38vh;
		margin: 0px auto 2px auto;
	padding: 0px auto 2px auto;
	width:100%;
	
}
.loadsummary {
	text-align: left;
    font-size: 12px;
	font-size: 2.4vh;
		margin: 2px auto 2px auto;
	padding: 2px auto 2px auto;
	width:99%;
	
	
}

.lastupdate 
{
    	text-align: left;
    font-size: 12px;
	font-size: 2.3vh;
		margin: 2px auto 2px auto;
	padding: 2px auto 2px auto;
	width:99%;
	clear:both;
	height:auto;
		background-color:#222222;
	color:#fefefe;
	border-radius:10px;
}

.weatherText {
	text-align: left;
    font-size: 14px;
	font-size: 2.8vh;
	width:99%;
		margin: 2px auto 2px auto;
	padding: 2px auto 2px auto;
	
}

.compass {
	text-align: center;
	margin: 0px auto auto 0px;
	height:100%;
}








