html, body {
  height: 100%;
}
body {
  background-image: url('./SDD-General.png');
  background-size: cover;
}
.Timers {
  height: 73vh;
  display: flex;
  flex-direction: column;
}
.BigLogo {
  background-image: url('./logo.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  flex: 1;
}
.LoadTimer {
  margin: 1vh 1vh 0 1vh;
  border: 1px solid white;
  border-radius: 10px;
  opacity: 0.7;
  flex: 1;
  font-size: 1em;
  display: flex;
  flex-direction: column;
}
.LoadTimer > div {
  padding: 1vh;
  border: 1px solid white;
}
.LoadTimer > .title {
  font-weight: bold;
}
.LoadTimer > .time {
  flex: 1;
  text-align: center;
  font-size: 3em;
}
.LoadTimer > .slots {
  text-align: right;
}
.WeatherSection {
  height: 25vh;
  display: flex;
  margin-top: 1vh;
  width: 100%;
}
.WeatherSection > div {
  background-color: black;
  color: white;
  opacity: 0.7;
  font-weight: bold;
  flex: 1;
}
.WeatherSection > .Summary {
  flex: 2;
}
.svg-content {
  height: 95%;
}
.Summary > table {
  padding: 0;
  margin: 0;
  width: 100%;
  border-collapse: collapse;
}
.Summary > table > tbody > tr > td {
  border-bottom: 1px solid #333;
  padding: 3px;
  margin: 0;
}
.Summary > table > tbody > tr > td:first-child {
  width: 33%;
}
