html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  background-image: url('./SDD-General.png');
  background-size: cover;
}

.App {
}

.Timers {
  height: 73vh;
  display: flex;
  flex-direction: column;
}
.LoadTimer {
  margin: 1vh 1vh 0 1vh;
  border: 1px solid white;
  border-radius: 10px;
  opacity: 0.7;
  flex: 1;
}
.WeatherSection {
  position: fixed;
  height: 25vh;
  display: flex;
  margin: 1vh;
}
.Compass {
  height: 24vh;
}
.WeatherSummary {
  flex: 1;
  margin-left: 1vh;
}
.WeatherSummary > div {
  margin: 1vh;
}
.Compass, .WeatherSummary {
  height: 100%;
  background-color: black;
  border-radius: 10px;
  border: 1px solid white;
  color: white;
  opacity: 0.7;
  font-weight: bold;
}
.BigLogo {
  width: 100%;
  height: 100%;
  background-image: url(logo.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
}
