html,
body {
  height: 100%;
}
body {
  background-image: url("./SDD-General.png");
  background-size: cover;
}
.Timers {
  height: 73vh;
  display: flex;
  flex-direction: column;
}
.BigLogo {
  background-image: url("./logos/logo-Dallas.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: auto;
  flex: 1;
}
.Timer {
  background-image: url("./logos/logo-Dallas.svg");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 1vh 1vh 0 1vh;
  border: 1px solid white;
  border-radius: 10px;
  opacity: 0.7;
  flex: 1;
  font-size: 1em;
  display: flex;
  flex-direction: column;
}
.Timer > div {
  /* padding: 1vh;
  border: 1px solid white; */
}
.Timer > .header {
  padding: 5px 5px 0 5px;
  border-bottom: 1px solid white;
}
.Timer > .header > .title {
  display: inline-block;
  font-weight: bold;
}
.Timer > .header > .slots {
  float: right;
  text-align: right;
}
.Timer > .time {
  flex: 1;
  text-align: center;
  font-size: 3em;
}
.WeatherSection {
  height: 25vh;
  display: flex;
  margin-top: 1vh;
  width: 100%;
}
.WeatherSection > div {
  background-color: black;
  color: white;
  opacity: 0.7;
  font-weight: bold;
  flex: 1;
}
.WeatherSection > .Summary {
  flex: 2;
}
.svg-content {
  height: 95%;
}
.Summary > table {
  padding: 0;
  margin: 0;
  width: 100%;
  border-collapse: collapse;
}
.Summary > table > tbody > tr > td {
  border-bottom: 1px solid #333;
  padding: 3px;
  margin: 0;
}
.Summary > table > tbody > tr > td:first-child {
  width: 33%;
}
