.WeatherSection {
  height: 25vh;
  display: flex;
  margin-top: 1vh;
  width: 100%;
}
.WeatherSection > .WindInfo,
.WeatherSection > .Compass,
.WeatherSection > .WeatherSummary {
  background-color: black;
  color: white;
  opacity: 0.7;
  font-weight: bold;
  flex: 1;
}
.WeatherSummary {
}
